language: node_js
node_js:
  - "5.5"
  - "4.2"
  - "0.12"
  - "0.10"
services: mysql
sudo: false
before_script:
  - mysql -e 'create database sails_mysql;'
notifications:
  email:
    - particlebanana@gmail.com
